@import '../../../commonCss/common';

@media only screen and (max-width: 640px) {
  section.search-bar {
    ul {
      float: none;

      li {
        float: none;
      }
    }
  }
}

ul{
  list-style: none outside none;
  display: inline;
  float: right;
  @include blackText();
  li{
    float: left;
    padding-right: 20px;
    &.selected{
      color: $muddyPink;
    }
  }
}