@import '../../../commonCss/common';

figure{
  margin: 30px;
  cursor:pointer;

  figcaption{
    margin: 5px;
    .title{
      @include blackText();
    }
    .date{
      float: right;
      border: 1px solid grey;
      padding: 0 5px;
      border-radius: 4px;
    }
    .category{
      display: block;
      color: grey;
    }
  }
}