$white: #ffffff;
$muddyPink: #d9534f;

@mixin blocksPosition(){
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin blackText(){
  font-size: 20px;
  color: black;
  font-weight: 600;
}

@mixin buttonsSize(){
  font-size: 18px;
  text-transform: uppercase;
}